.switch-container {
    width: 3rem;
    height: 1.5rem;
    background: #e9e9e9;
    border-radius: 1rem;
    align-items: center;
    cursor: pointer;
    display: flex;

    .switch-toggle {
        width: 1rem;
        height: 1rem;
        background: white;
        border-radius: 1rem;
        border: 1px solid #d9d9d9;
        -webkit-transition: 300ms ease-out;
        -moz-transition: 300ms ease-out;
        -o-transition: 300ms ease-out;
        transition: 300ms ease-out;
        margin-left: 4px;
    }

    .switch-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 3rem;
        height: 1.5rem;
        opacity: 0;
        cursor: pointer;
    }
}

input:checked {
    border: none;
    + .switch-toggle {
        margin-left: 25px;
        background-color: #1976d2;
        border: 1px solid #1976d2;
    }
}