.label-container {
    display: flex;
    text-align: start;
    margin-top: 0.5rem;
    color: var(--text-primary);

    .label-value {
        font-weight: 500;
        border-bottom: 1px solid #dddddd;
        margin-left: 1rem;
        padding: 0rem 0.5rem;
        min-width: 15rem;
        text-align: center;
    }
}

label {
    min-width: 8rem;
}