#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  width: 30rem;

  .refresh-button-container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1rem;
    align-items: center;
    justify-content: end;
  }
}